__pycache__
*.ipynb
database/
examples/
.vscode/
.conda/
backup/
scripts/
test/
.mypy_cache/
.env
venv/
sql_tests/
test
.idea/
/files/
!/src/utils/deprecated-utils_speckle.py
!/testing_speckle_methods.ipynb
