openai~=0.28.0
pandas~=2.2.3
specklepy~=2.17.11
dash~=2.10.2
dash-bootstrap-components~=1.4.1
python-dotenv~=1.0.0
requests~=2.31.0
flask~=2.2.5
plotly~=5.15.0
flask-cors~=4.0.0
psycopg2~=2.9.9

SQLAlchemy~=2.0.35
